@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content: 1140px;
  --t2: 0.5rem;
  --t4: 1rem;
  --t5: 1.25rem;
  --t8: 2rem;
  --card: calc(var(--content) / 4 - 60px);
}

@layer base {
  html,
  body {
    @apply p-0 m-0 font-normal text-gray-900;
  }
}

@layer components {
  .grid-md {
    grid-template-columns: var(--t5) 1fr minmax(300px, var(--content)) 1fr var(
        --t5
      );
  }

  .grid-sm {
    grid-template-columns: var(--t5) 1fr minmax(300px, 960px) 1fr var(--t5);
  }

  @media (min-width: 768px) {
    .grid-movie {
      @apply gap-20;
      grid-template-columns: 300px 1fr;
    }
  }

  @media (min-width: 480px) {
    .grid-cast {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .grid-person {
    grid-template-columns: 1fr;
  }
}
